html:not(.style-scope) {
  --primary-text-color: var(--light-theme-text-color);
  --primary-background-color: var(--light-theme-background-color);
  --secondary-text-color: var(--light-theme-secondary-color);
  --disabled-text-color: var(--light-theme-disabled-color);
  --divider-color: var(--light-theme-divider-color);
  --error-color: #dd2c00;
  --primary-color: #3f51b5;
  --light-primary-color: #c5cae9;
  --dark-primary-color: #303f9f;
  --accent-color: #ff4081;
  --light-accent-color: #ff80ab;
  --dark-accent-color: #f50057;
  --light-theme-background-color: #fff;
  --light-theme-base-color: #000;
  --light-theme-text-color: #212121;
  --light-theme-secondary-color: #737373;
  --light-theme-disabled-color: #9b9b9b;
  --light-theme-divider-color: #dbdbdb;
  --dark-theme-background-color: #212121;
  --dark-theme-base-color: #fff;
  --dark-theme-text-color: #fff;
  --dark-theme-secondary-color: #bcbcbc;
  --dark-theme-disabled-color: #646464;
  --dark-theme-divider-color: #3c3c3c;
  --text-primary-color: var(--dark-theme-text-color);
  --default-primary-color: var(--primary-color);
}

iron-a11y-announcer {
  display: inline-block;
        position: fixed;
        clip: rect(0px,0px,0px,0px);
}

iron-collapse {
  display: block;
        transition-duration: var(--iron-collapse-transition-duration, 300ms);
        
        -webkit-transition-duration: var(--iron-collapse-transition-duration, 300ms);
        overflow: visible;
}

iron-collapse.iron-collapse-closed {
  display: none;
}

iron-collapse:not(.iron-collapse-opened) {
  overflow: hidden;
}

iron-image {
  display: inline-block;
        overflow: hidden;
        position: relative;
}

#baseURIAnchor.iron-image {
  display: none;
}

#sizedImgDiv.iron-image {
  position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

        display: none;
}

#img.iron-image {
  display: block;
        width: var(--iron-image-width, auto);
        height: var(--iron-image-height, auto);
}

iron-image[sizing] #sizedImgDiv.iron-image {
  display: block;
}

iron-image[sizing] #img.iron-image {
  display: none;
}

#placeholder.iron-image {
  position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

        background-color: inherit;
        opacity: 1;

        ;
}

#placeholder.faded-out.iron-image {
  transition: opacity 0.5s linear;
        opacity: 0;
}

iron-input {
  display: inline-block;
}

iron-pages {
  display: block;
}

iron-pages > :not(slot):not(.iron-selected) {
  display: none !important;
}

paper-ripple {
  display: block;
        position: absolute;
        border-radius: inherit;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        
        pointer-events: none;
}

paper-ripple[animating] {
  -webkit-transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
}

#background.paper-ripple,#waves.paper-ripple,.wave-container.paper-ripple,.wave.paper-ripple {
  pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

#background.paper-ripple,.wave.paper-ripple {
  opacity: 0;
}

#waves.paper-ripple,.wave.paper-ripple {
  overflow: hidden;
}

.wave-container.paper-ripple,.wave.paper-ripple {
  border-radius: 50%;
}

paper-ripple.circle #background.paper-ripple,paper-ripple.circle #waves.paper-ripple {
  border-radius: 50%;
}

paper-ripple.circle .wave-container.paper-ripple {
  overflow: hidden;
}

tp-yt-app-header-layout {
  display: block;
  position: relative;
  z-index: 0;
}

#wrapper.tp-yt-app-header-layout > [slot=header] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#wrapper.initializing.tp-yt-app-header-layout > [slot=header] {
  position: relative;
}

tp-yt-app-header-layout[has-scrolling-region] {
  height: 100%;
}

tp-yt-app-header-layout[has-scrolling-region] #wrapper.tp-yt-app-header-layout > [slot=header] {
  position: absolute;
}

tp-yt-app-header-layout[has-scrolling-region] #wrapper.initializing.tp-yt-app-header-layout > [slot=header] {
  position: relative;
}

tp-yt-app-header-layout[has-scrolling-region] #wrapper.tp-yt-app-header-layout #contentContainer.tp-yt-app-header-layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

tp-yt-app-header-layout[has-scrolling-region] #wrapper.initializing.tp-yt-app-header-layout #contentContainer.tp-yt-app-header-layout {
  position: relative;
}

tp-yt-app-header-layout[fullbleed] {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

tp-yt-app-header-layout[fullbleed] #wrapper.tp-yt-app-header-layout,tp-yt-app-header-layout[fullbleed] #wrapper.tp-yt-app-header-layout #contentContainer.tp-yt-app-header-layout {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

#contentContainer.tp-yt-app-header-layout {
  position: relative;
  z-index: 0;
}

@media print {
tp-yt-app-header-layout[has-scrolling-region] #wrapper.tp-yt-app-header-layout #contentContainer.tp-yt-app-header-layout {
  overflow-y: visible;
}

}

tp-yt-app-header {
  position: relative;
  display: block;
  transition-timing-function: linear;
  transition-property: -webkit-transform;
  transition-property: transform;
}

tp-yt-app-header::before {
  position: absolute;
  right: 0px;
  bottom: -5px;
  left: 0px;
  width: 100%;
  height: 5px;
  content: "";
  transition: opacity 0.4s;
  pointer-events: none;
  opacity: 0;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  will-change: opacity;
}

tp-yt-app-header[shadow]::before {
  opacity: 1;
}

#background.tp-yt-app-header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#backgroundFrontLayer.tp-yt-app-header,#backgroundRearLayer.tp-yt-app-header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  background-size: cover;
}

#backgroundFrontLayer.tp-yt-app-header {
  background-image: var(--app-header-background-front-layer-background-image);
  background-position: var(--app-header-background-front-layer-background-position);
  background-repeat: var(--app-header-background-front-layer-background-repeat);
  background-size: var(--app-header-background-front-layer-background-size);
}

#backgroundRearLayer.tp-yt-app-header {
  opacity: 0;
}

#contentContainer.tp-yt-app-header {
  position: relative;
  width: 100%;
  height: 100%;
}

tp-yt-app-header[disabled],tp-yt-app-header[disabled]::after,tp-yt-app-header[disabled] #backgroundFrontLayer.tp-yt-app-header,tp-yt-app-header[disabled] #backgroundRearLayer.tp-yt-app-header,tp-yt-app-header[silent-scroll],tp-yt-app-header[silent-scroll]::after,tp-yt-app-header[silent-scroll] #backgroundFrontLayer.tp-yt-app-header,tp-yt-app-header[silent-scroll] #backgroundRearLayer.tp-yt-app-header {
  transition: none !important;
}

tp-yt-app-header[disabled] > app-toolbar:first-of-type,tp-yt-app-header[disabled] > [sticky],tp-yt-app-header[silent-scroll] > app-toolbar:first-of-type,tp-yt-app-header[silent-scroll] > [sticky] {
  transition: none !important;
}

tp-yt-app-toolbar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  height: 64px;
  padding: 0 16px;
  pointer-events: none;
  font-size: var(--app-toolbar-font-size, 20px);
}

tp-yt-app-toolbar > * {
  pointer-events: auto;
}

tp-yt-app-toolbar > paper-icon-button {
  font-size: 0;
}

tp-yt-app-toolbar > [main-title],tp-yt-app-toolbar > [condensed-title] {
  pointer-events: none;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

tp-yt-app-toolbar > [bottom-item] {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

tp-yt-app-toolbar > [top-item] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

tp-yt-app-toolbar > [spacer] {
  margin-left: 64px;
}

tp-yt-iron-autogrow-textarea {
  display: inline-block;
  position: relative;
  width: 400px;
  border: 1px solid;
  padding: 2px;
  -moz-appearance: textarea;
  -webkit-appearance: textarea;
  overflow: hidden;
}

.mirror-text.tp-yt-iron-autogrow-textarea {
  visibility: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.fit.tp-yt-iron-autogrow-textarea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

textarea.tp-yt-iron-autogrow-textarea {
  position: relative;
  outline: none;
  border: none;
  resize: none;
  background: inherit;
  color: inherit;
  width: 100%;
  height: 100%;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-align: inherit;
}

textarea.tp-yt-iron-autogrow-textarea::-webkit-input-placeholder {
  padding: var(--iron-autogrow-textarea-placeholder-padding);
}

textarea.tp-yt-iron-autogrow-textarea:-moz-placeholder {
  padding: var(--iron-autogrow-textarea-placeholder-padding);
}

textarea.tp-yt-iron-autogrow-textarea::-moz-placeholder {
  padding: var(--iron-autogrow-textarea-placeholder-padding);
}

textarea.tp-yt-iron-autogrow-textarea:-ms-input-placeholder {
  padding: var(--iron-autogrow-textarea-placeholder-padding);
}

tp-yt-iron-overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iron-overlay-backdrop-background-color, #000);
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}